@import "tailwindcss";

/* @theme {
  --color-white: #fdfbf7;
  --color-slate-50: #faf6ee;
} gereksiz*/

:root {
  --rs-border-radius: 3px !important;
  --rs-btn-border-radius: 3px !important;
  --rs-input-border-radius: 3px !important;
  --rs-panel-border-radius: 3px !important;
  --rs-dropdown-border-radius: 3px !important;
  --rs-modal-border-radius: 3px !important;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #faf6ee;
  color: #0f172a;
}